{% extends "::base.html.twig" %}	

  	{% block onready %}
  		{% if score is defined %}
  			<script type="text/javascript">
		  		$( document ).ready(function() {
				    ScoreCaclul("{{ score.id }}", "{{ path('pages_calculScore') }}");
				});
  			</script>
		{% endif %}

  	{% endblock %}

  {% block body %}			
						  <div class="x_title">
							<h2 id="addScoreFrom_title"></h2>
							<div class="clearfix"></div>
						  </div>
						  <div class="x_content">
						  {% if error is defined %}
							 <div class="alert alert-danger alert-dismissible fade in" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
								</button>
								<strong> <script> document.write(lang.pages.addScoreFrom.error) </script> </strong> [  {{ error }} ]
							  </div>
						  {% endif %}
						  
						  {% if success is defined %}
							  <div class="alert alert-success alert-dismissible fade in" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
								</button>
								<strong> <script> document.write(lang.pages.addScoreFrom.success) </script> </strong> [  {{ success }} ]
							  </div> 
							 {% include 'PagesBundle:Default:info.html.twig' %}
			                  <ul class="list-unstyled timeline" >
			                    <li id="calculScore">
			                      <div class="block">
			                        <div class="tags">
			                          <a href="" class="tag">
			                            <span id="calculScore_tag" ></span>
			                          </a>
			                        </div>
			                        <div class="block_content">
			                          <h2 class="title" id="calculScore_title"></h2>
			                          <div class="byline" id="calculScore_time">
			                          </div>
			                          <p class="excerpt">
			                          		<center><img id="calculScore_lod" src="{{ asset('img/lod.gif') }}" width="150"/> </center>
			                          		<button style="display:none" type="button" id="calculScore_show_log"
			                          				onclick="showLog()"></button> <br/>
			                          		<textarea id="calculScore_log" rows="10" class="form-control" style="display:none" readonly></textarea>
			                          		<br/>
			                          		<table class="table" id="table_score" style="display:none">
			                          			<tr>
			                          				<th></th>
													<th></th>
													<th></th>
													<th></th>
													<th></th>
													<th></th>
													<th></th>
													<th></th>
													<th></th>
													<th></th>
													<th></th>
													<th></th>
													<th></th>
													<th></th>
													<th></th>
			                          			</tr>
			                          			<tbody id="calculScore_content">
			                          			</tbody>
			                          		</table>

			                          </p>
			                        </div>
			                      </div>
			                    </li>
			                    <li id="compScore" style="display:none">
			                      <div class="block">
			                        <div class="tags">
			                          <a href="javascipt:void(0)" class="tag">
			                            <span id="compScore_tag" ></span>
			                          </a>
			                        </div>
			                        <div class="block_content">
			                          <h2 class="title" id="compScore_title"></h2>
			                          <div class="byline" id="compScore_time">
			                          </div>
			                          <p class="excerpt" id="compScore_content">
			                          		<center><img id="compScore_lod" src="{{ asset('img/lod.gif') }}" width="150"/> </center>
			                          </p>
			                        </div>
			                      </div>
			                    </li>
			                  </ul>

			               {% else %}
						  
						 						  
							<form id="addScoreFrom" action="{{ path('pages_addScore') }}" method="post" enctype="multipart/form-data" data-parsley-validate class="form-horizontal form-label-left" >
							  <div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" id="addScoreFrom_problem" for="id_problem"><span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
								  <input type="text" id="id_problem" name="problem" required="required" class="form-control col-md-7 col-xs-12">
								</div>
							  </div>							  
							  <div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" id="addScoreFrom_type"></label>
								<div class="col-md-6 col-sm-6 col-xs-12">
								  <div class="btn-group" data-toggle="buttons">
									<label class="btn btn-default" onclick="setTypeSelected('file')" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
									  <input type="radio"  name="type" value="file"> &nbsp; <span id="addScoreFrom_type_file" ></span> &nbsp;
									</label>
									<label class="btn btn-default" onclick="setTypeSelected('text')" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
									  <input type="radio"  name="type" value="text"> <span id="addScoreFrom_type_text" ></span>
									</label>
								  </div>
								</div>
							  </div>
							  <div class="form-group" id="type_file" style="display:none">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" id="addScoreFrom_file" for="file_data"><span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
								  <input type="file" id="file_data" name="file_data" class="form-control file_style">
								</div>
							  </div>
							  <div class="form-group" id="type_text" style="display:none">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" id="addScoreFrom_text" for="text_data"><span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
								  <textarea id="text_data" rows="15" name="text_data" class="form-control"></textarea>
								</div>
							  </div>							  
							  <div class="ln_solid"></div>
							  <div class="form-group">
								<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
								  <button type="reset" class="btn btn-primary" id="addScoreFrom_cancel"></button>
								  <button type="submit" class="btn btn-success" id="addScoreFrom_submit"></button>
								</div>
							  </div>
							</form>
						 {% endif %}
						  </div>
						
						
        <!-- /page content -->
		{% endblock %}
	
