<!DOCTYPE html>
<html lang="fr">
  <head>
   
    <!-- Meta, title, CSS, favicons, etc. -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title id="id_title" ></title>

	{% block css %}
		<!-- jQuery -->
		<script src="{{ asset('vendors/jquery/dist/jquery.min.js') }}"></script>
		<!-- Bootstrap -->
		<link href="{{ asset('vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
		<!-- Font Awesome -->
		<link href="{{ asset('vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
		<!-- iCheck -->
		<link href="{{ asset('vendors/iCheck/skins/flat/green.css') }}" rel="stylesheet">
		<!-- bootstrap-progressbar -->
		<link href="{{ asset('vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css') }}" rel="stylesheet">
		<!-- jVectorMap -->
		<link href="{{ asset('css/maps/jquery-jvectormap-2.0.3.css') }}" rel="stylesheet"/>

		<!-- Custom Theme Style -->
		<link href="{{ asset('css/custom.min.css') }}" rel="stylesheet">

		   <!-- Datatables -->
		<link href="{{ asset('vendors/datatables.net-bs/css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
		<link href="{{ asset('vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css') }}" rel="stylesheet">
		<link href="{{ asset('vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css') }}" rel="stylesheet">
		<link href="{{ asset('vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}" rel="stylesheet">
		<link href="{{ asset('vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css') }}" rel="stylesheet">
		<!-- jquery-ui -->
		<link href="{{ asset('css/jquery-ui.css') }}" rel="stylesheet">	
		<script src="{{ asset('js/jquery.min.js') }}"></script>	
		<script src="{{ asset('js/jquery-ui.min.js') }}"></script>	
		{% if app.session.get('ParsimonyScore_lang') != null %}			
			<script src="{{ asset('js/lang/'~app.session.get('ParsimonyScore_lang')~'.js') }}"></script>
		{% else %}
			<script src="{{ asset('js/lang/FR.js') }}"></script>
		{% endif %}
		<script src="{{ asset('js/lang/apply_lang.js') }}"></script>
		<script src="{{ asset('js/script.js') }}"></script>
	{% endblock %}
		
		<script>
			$( document ).ready(function() {
				apply_lang();
				{% block onready %}
				
				{% endblock %}
			});
			
		
		</script>
	
	
  </head>

  {% block body %}
  <body class="nav-md">
        <div class="container body">
		
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
             <!-- <a href="" class="site_title"><img src=" asset('img/logo.jpg') }}" width="30"/>  <span class="my_title">ParsimonyScore</span></a>-->
			 <a href="" class="site_title"><i class="fa fa-tree"></i> <span>ParsimonyScore</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info --
            <div class="profile">
              <div class="profile_pic">
                <img src="{{ asset('img/user.png') }}" alt="icone user" class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Bienvenu,</span>
                <h2></h2>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br />
			{% block menu %}
					{{ render(controller("PagesBundle:Default:menu")) }} <!-- ///  app.session.get('RV_user_prenom') -->           
			{% endblock%}
          </div>
        </div>

		{% block header %}
        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>
              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					{% if app.session.get('ParsimonyScore_lang') != null %}
						{{ app.session.get('ParsimonyScore_lang') }}
					{% else %}
						FR
					{% endif %}
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="{{ path('pages_index') }}?lang=FR">FR</a></li>
                    <li><a href="{{ path('pages_index') }}?lang=EN">EN</a></li>
                  </ul>
                </li>

              </ul>
			   
            </nav>
          </div>
        </div>
        <!-- /top navigation -->
		{% endblock %}
		
		{% block content %}
        <!-- page content -->
			<div class="right_col" role="main">
				 <div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="x_panel">
						  <div class="x_title">
							<h2 id="addScoreFrom_title"></h2>
							<div class="clearfix"></div>
						  </div>
						  <div class="x_content">
						  {% if error is defined %}
							 <div class="alert alert-danger alert-dismissible fade in" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
								</button>
								<strong> <script> document.write(lang.pages.addScoreFrom.error) </script> </strong> [  {{ error }} ]
							  </div>
						  {% endif %}
						  
						  {% if success is defined %}
							  <div class="alert alert-success alert-dismissible fade in" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
								</button>
								<strong> <script> document.write(lang.pages.addScoreFrom.success) </script> </strong> [  {{ success }} ]
							  </div>
						  {% endif %}
						  
							<form id="addScoreFrom" action="{{ path('pages_index') }}" method="post" enctype="multipart/form-data" data-parsley-validate class="form-horizontal form-label-left" >
							  <div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" id="addScoreFrom_problem" for="id_problem"><span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
								  <input type="text" id="id_problem" name="problem" required="required" class="form-control col-md-7 col-xs-12">
								</div>
							  </div>							  
							  <div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" id="addScoreFrom_type"></label>
								<div class="col-md-6 col-sm-6 col-xs-12">
								  <div class="btn-group" data-toggle="buttons">
									<label class="btn btn-default" onclick="setTypeSelected('file')" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
									  <input type="radio"  name="type" value="file"> &nbsp; <span id="addScoreFrom_type_file" ></span> &nbsp;
									</label>
									<label class="btn btn-default" onclick="setTypeSelected('text')" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
									  <input type="radio"  name="type" value="text"> <span id="addScoreFrom_type_text" ></span>
									</label>
								  </div>
								</div>
							  </div>
							  <div class="form-group" id="type_file" style="display:none">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" id="addScoreFrom_file" for="file_data"><span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
								  <input type="file" id="file_data" name="file_data" class="form-control">
								</div>
							  </div>
							  <div class="form-group" id="type_text" style="display:none">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" id="addScoreFrom_text" for="text_data"><span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
								  <textarea id="text_data" rows="15" name="text_data" class="form-control"></textarea>
								</div>
							  </div>							  
							  <div class="ln_solid"></div>
							  <div class="form-group">
								<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
								  <button type="reset" class="btn btn-primary" id="addScoreFrom_cancel"></button>
								  <button type="submit" class="btn btn-success" id="addScoreFrom_submit"></button>
								</div>
							  </div>
							</form>
						  </div>
						</div>
					</div>
				 </div>
			</div>
        <!-- /page content -->
		{% endblock %}
		
		{% block footer %}
        <!-- footer content -->
        <footer>
		  <a id="id_cnx" href="{{ path('pages_cnx') }}" style="font-size: 8pt;" ></a>
          <div class="pull-right" id="id_footer">
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
		{% endblock %}
      </div>
    </div>
	
	{% block js %}
    <!-- Bootstrap -->
    <script src="{{ asset('vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <!-- FastClick -->
    <script src="{{ asset('vendors/fastclick/lib/fastclick.js') }}"></script>
    <!-- NProgress -->
    <script src="{{ asset('vendors/nprogress/nprogress.js') }}"></script>
    <!-- Chart.js -->
    <script src="{{ asset('vendors/Chart.js/dist/Chart.min.js') }}"></script>
    <!-- gauge.js -->
    <script src="{{ asset('vendors/gauge.js/dist/gauge.min.js') }}"></script>
    <!-- bootstrap-progressbar -->
    <script src="{{ asset('vendors/bootstrap-progressbar/bootstrap-progressbar.min.js') }}"></script>
    <!-- iCheck -->
    <script src="{{ asset('vendors/iCheck/icheck.min.js') }}"></script>
    <!-- Skycons -->
    <script src="{{ asset('vendors/skycons/skycons.js') }}"></script>
    <!-- Flot -->
    <script src="{{ asset('vendors/Flot/jquery.flot.js') }}"></script>
    <script src="{{ asset('vendors/Flot/jquery.flot.pie.js') }}"></script>
    <script src="{{ asset('vendors/Flot/jquery.flot.time.js') }}"></script>
    <script src="{{ asset('vendors/Flot/jquery.flot.stack.js') }}"></script>
    <script src="{{ asset('vendors/Flot/jquery.flot.resize.js') }}"></script>
    <!-- Flot plugins -->
    <script src="{{ asset('js/flot/jquery.flot.orderBars.js') }}"></script>
    <script src="{{ asset('js/flot/date.js') }}"></script>
    <script src="{{ asset('js/flot/jquery.flot.spline.js') }}"></script>
    <script src="{{ asset('js/flot/curvedLines.js') }}"></script>
    <!-- jVectorMap -->
    <script src="{{ asset('js/maps/jquery-jvectormap-2.0.3.min.js') }}"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="{{ asset('js/moment/moment.min.js') }}"></script>
    <script src="{{ asset('js/datepicker/daterangepicker.js') }}"></script>
    <!-- Custom Theme Scripts -->
    <script src="{{ asset('js/custom.min.js') }}"></script>
	
	<!-- Datatables -->
    <script src="{{ asset('vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('vendors/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('vendors/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
    <script src="{{ asset('vendors/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
    <script src="{{ asset('vendors/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('vendors/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
    <script src="{{ asset('vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js') }}"></script>
    <script src="{{ asset('vendors/datatables.net-keytable/js/dataTables.keyTable.min.js') }}"></script>
    <script src="{{ asset('vendors/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js') }}"></script>
    <script src="{{ asset('vendors/datatables.net-scroller/js/datatables.scroller.min.js') }}"></script>
    <script src="{{ asset('vendors/jszip/dist/jszip.min.js') }}"></script>
    <script src="{{ asset('vendors/pdfmake/build/pdfmake.min.js') }}"></script>
    <script src="{{ asset('vendors/pdfmake/build/vfs_fonts.js') }}"></script>
	<script src="{{ asset('js/admin.js') }}"></script>
	{% endblock %}

  </body>
  {% endblock %}
</html>