<li class="">
  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    <i class="fa fa-user"></i> {{ app.user.username }}
    <span class=" fa fa-angle-down"></span>
  </a>
  <ul class="dropdown-menu dropdown-usermenu pull-right">
    <li>
      <table>
        <tr>
          <td>
            <span class="fa fa-user fa-5x"></span>
          </td>
          <td>
            <p>&nbsp;&nbsp;Username : {{ app.user.username }}</p>
            <p>&nbsp;&nbsp;Email : {{ app.user.email }}</p>
          </td>
        </tr>
      </table>
     
    </li>
  </ul>
</li>


<li role="presentation" class="dropdown">
  <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
    <i class="fa fa-envelope-o"></i>
    <span class="badge bg-green" id="msgCount"></span>
  </a>
  <ul id="msg" class="dropdown-menu list-unstyled msg_list" role="menu">  
    <li>
      <div class="text-center">
        <a href="{{ path('admin_messages') }}">
          <strong id="id_allMsg">See all messages</strong>
          <i class="fa fa-angle-right"></i>
        </a>
      </div>
    </li>
  </ul>
</li>

<li role="presentation" class="dropdown">
  <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
    <i class="fa fa-bell-o"></i>
    <span class="badge bg-green" id="notifCount"></span>
  </a>
  <ul id="notif" class="dropdown-menu list-unstyled msg_list" role="menu">
    <li>
      <div class="text-center">
          <img  src="{{ asset('img/bell.gif') }}" width="200" data-toggle="tooltip" title="Nothing here" />
      </div>
    </li>  
  </ul>
</li>

<!-- Message example -->
<div id="msg_example" style="display:none">
	<li>
		  <a href="{{ path('admin_message') }}?id=#id#">
			<span class="image"><img src="{{ asset('img/') }}#img#" /></span>
			<span>
			  <span>#email#</span>
			  <span class="time" style="font-size:8px;margin-right: -20px;">#time#</span>
			</span>
			<span class="message">
				#message#
			</span>
		  </a>
	</li>
</div>

<!-- Notification example -->
<div id="notif_example" style="display:none">
  <li>
      <a href="javascript: updateNotif('{{ path('admin_notif') }}', #id#)" id="notif_#id#">
      <span class="image"></span>
      <span>
        <span>#user.email# [<small>#user.username#</small>] </span>
        <span class="time" style="font-size:8px;margin-right: -20px;">#time#</span>
      </span>
      <span class="message">
        #message#
      </span>
      </a>
  </li>
</div>